<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241654953259-6fqo93k2f2mv8onihosl281vpfadb0oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241654953259-6fqo93k2f2mv8onihosl281vpfadb0oe</string>
	<key>API_KEY</key>
	<string>AIzaSyABuYuZJLc09f0z30hyC1rwSpgURvYV8Z4</string>
	<key>GCM_SENDER_ID</key>
	<string>241654953259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilg.SysVPN.dev</string>
	<key>PROJECT_ID</key>
	<string>sysvpn-8e7c3</string>
	<key>STORAGE_BUCKET</key>
	<string>sysvpn-8e7c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241654953259:ios:53f5fcb717c1664dfb416e</string>
</dict>
</plist>