<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950428175397-vnr64oph9jd5024nllebafs48ndh9tpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950428175397-vnr64oph9jd5024nllebafs48ndh9tpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>950428175397-29s2g89p1v675iu5q77ppahom48gd810.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5O_1VujqRZCrCzhtWLilbk7fVOw7suqk</string>
	<key>GCM_SENDER_ID</key>
	<string>950428175397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilg.SysVPN.dev</string>
	<key>PROJECT_ID</key>
	<string>sysvpn-4f680</string>
	<key>STORAGE_BUCKET</key>
	<string>sysvpn-4f680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950428175397:ios:6970e6b510f5ba3191c3cc</string>
</dict>
</plist>