<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950428175397-dpjaggiuids4s4sns6ri3sgme0mkfmk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950428175397-dpjaggiuids4s4sns6ri3sgme0mkfmk0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>950428175397-0l0s5l7m0kb433b58cu92vual04gt8mb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5O_1VujqRZCrCzhtWLilbk7fVOw7suqk</string>
	<key>GCM_SENDER_ID</key>
	<string>950428175397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sysvpn.client.ios</string>
	<key>PROJECT_ID</key>
	<string>sysvpn-4f680</string>
	<key>STORAGE_BUCKET</key>
	<string>sysvpn-4f680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:950428175397:ios:88d2f00605f76d8291c3cc</string>
</dict>
</plist>
